body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-width: 6px;
  color: #EAF6F6;
  margin: 100px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  text-align: center;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 25%;
  margin: auto auto 50px auto;
  line-height: 2;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.profile-picture {
  width: 200px;
  height: 200px;
}

.mid-container {
  padding: 100px;
}

.skill-row {
  width:60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  width: 30%;
  float: left;
  margin-right: 30px;

}

.popcorn-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 50%;
  margin: 40px auto 60px;
}

.bottom-layer {
  padding-top: 50px;
  background-color: #66BFBF;
  width: 100%;
  height: 150px;
}

a {
  padding: 10px;
  text-decoration: none;
}

.copyright {
  padding: 30px;
  color: #EAF6F6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

a:hover {
  color: white;
}

.contact-page:hover {
  color: red;
}
